*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    font-family: 'Poppins', sans-serif;

    /* background:linear-gradient(to bottom right, rgba(142, 87, 153, 0.753),rgba(58, 157, 196, 0.829)); */
}
.no-Anim *{
    animation-play-state: paused !important;
}
.loader *, .loader{
    animation-play-state: running !important;
}
.loader{
    background-color: #ffffff65;
    backdrop-filter: blur(20px);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fadeOut{
   opacity: 0;
   transition: ease 2s;
}

.loader-circle{
    width: 60px;
    height: 60px;
    border: 5px solid rgba(255, 255, 255, 0.603);
    border-top: 5px solid blue;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    from{transform: rotate(0);}
    to{transform: rotate(360deg);}
}
header{
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #fff;
    box-shadow: -5px 0 20px #0000003f;
    animation: slideDown 1.5s ease-out;
}
@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 25px 30px 25px;

}
.hero-navLink ul{
    display: flex;
    gap: 40px;
}
.hero-navLink a{
    font-weight: bold;
    padding: 15px;
    border: none;
   color: rgb(66, 66, 66);
    font-size: 1rem;
    text-decoration: none;
    transition: ease-in 0.6s;
    position: relative;
    overflow: hidden;
}
 .hero-navLink a::before{
    content: "";
    position: absolute;
    left: -150px;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: blueviolet;
    transition: ease 0.5s;
 }
 .hero-navLink a:hover::before {
    left: 0;
}
.hero-navLink a:hover{
    background-color:rgba(80, 141, 255, 0.123);
    color: rgba(128, 0, 128, 0.795);
    border-radius: 8px;
}
.hero-name{
    color: black;
    font-size: 1.9rem;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
}
.hero-name span{
    /* background: linear-gradient(
        to top left, rgba(0, 19, 128, 0.788),rgba(58, 157, 196, 0.767)
    ); */
    background: #ffffff49;
    backdrop-filter: blur(50px);
    padding: 5px;
    color: rgba(0, 4, 255, 0.39);
    animation: colorChange 3s infinite alternate;
}
@keyframes colorChange {
    0% {
        color: rgba(0, 4, 255, 0.39);
        transform: scale(1);
    }
    50%{
        color: rgba(58, 157, 196, 0.774);
        transform: scale(1.05);
    }
    100% {
        color: rgba(49, 5, 153, 0.589);
        transform: scale(1.3);
    }
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 6rem 2rem;
    gap: 6rem;
    min-height: calc(100vh - 80px);
}
@media (max-width:992px) {
    section{
        
    }
}
.hero-img{
   background: linear-gradient(160deg, blueviolet, rgba(0, 0, 255, 0.527)); 
   border-radius: 20px;
   rotate: 5deg;
   position: relative;
   animation: image 6s infinite alternate-reverse;
}
@keyframes image {
    0%{transform: rotate(5deg) translateY(-10px); box-shadow: 0 0 30px blueviolet;}
    50%{transform: rotate(-5deg) translateX(10px); box-shadow: 0 0 30px rgba(255, 0, 0, 0.459);}
    100%{transform: rotate(-10deg)translateX(-10px); box-shadow: 0 0 20px rgba(0, 0, 0, 0.459)}
}
/* ABOUT STYLING */
.hero-about{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
    margin-top: 90px;
    
}
.hero-about h1{
    font-size: 3.5rem;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    color: #000000c0;
    margin-bottom: 1.5rem;
    position: relative;
}
.hero-about h1::after{
    content: "";
    position: absolute;
    left: 0;
    width: 50%;
    bottom: -5px;
    background-color: rgb(17, 0, 255);
    height: 2px;

}
.hero-about h1 span{
    display: inline-block;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(140deg, rgb(146, 85, 202),rgb(38, 0, 255));
    background-clip: text;
    font-size: 5rem;
    color: transparent;
}
.hero-about h1 span::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 3px;
    background-color: #292929;
    right: -5px;
    border-radius: 50%;
    animation: blink 0.6s infinite alternate;
}
@keyframes blink {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.hero-about p{
    text-align: justify;
    line-height: 1.8;
    font-size: 1.2rem;
    color: gray;
    margin-bottom: 2rem;
    font-family: 'Poppins', sans-serif;
}
.skills-section{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    animation: trans 1.9s ease-in;
}
@keyframes trans {
    from{transform: translateY(15px); opacity: 0;}
    to{transform: translateY(0);}
}
.skills-section h3{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    display: inline-block;
    position: relative;
}
.skills-section h3::before{
    content: "";
    position: absolute;
    width: 70px;
    height: 3px;
    bottom: -10px;
    border-radius: 20px;
    background-color: blue;
}
.skills-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1.5rem;
    
}

.skill-item{
    background-color: #f5f7fa;
    padding: 1.5rem;
    border-radius: 10px;
    overflow:hidden;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: 1s ease;
    text-align: center;
}
.skill-item::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 0;
    background:linear-gradient(90deg, rgba(39, 39, 255, 0.808),rgba(0, 60, 255, 0.288));
    left: -100%;
    transition: left 0.7s;
    border-radius: 50%;

}
.skill-item:hover::before{
    left: 100%;
}
.skill-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.322);
}
.skill-icon {
    font-size: 2rem;
    margin-bottom: 0.8rem;
    color: rgba(0, 0, 255, 0.815);
}
.skill-name{
    font-weight: 600;
    margin-bottom: 1rem;
}
.skill-level{
    background-color: #e4e2e2cc;
    height: 5px;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}
.skill-level::after{
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    background-color: blue;
    animation: bar 9s alternate-reverse;
}

.skill-item:nth-child(1) .skill-level::after{width:90%; animation-delay: 0.1s;}
.skill-item:nth-child(2) .skill-level::after{width: 80%; animation-delay: 0.2s;}
.skill-item:nth-child(3) .skill-level::after{width: 75%; animation-delay: 0.3s;}
.skill-item:nth-child(4) .skill-level::after{width: 70%; animation-delay: 0.4s;}
.skill-item:nth-child(5) .skill-level::after{width: 90%; animation-delay: 0.5s;}
.skill-item:nth-child(6) .skill-level::after{width: 96%; animation-delay: 0.6s;}
@keyframes bar {
    0%{width: -100%;}
    100%{width: 0;}
}
.work-section{
    margin-top: 3.5rem;
}
.work-button{
    display: inline-block;
    text-decoration: none;
    padding: 1.5rem 2.3rem;
    background:linear-gradient(120deg, rgb(84, 178, 255),blueviolet);
    border-radius: 50px;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    position: relative;
    overflow: hidden;
    align-items: center;
    display: inline-flex;
    gap: 0.8rem;
    transition: 0.8s ease;
}
.work-button::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: left 0.4s;
    background: linear-gradient(120deg, transparent,#ffffff77,transparent);
}
.work-button:hover:before{
    left: 100%;
}
.work-button:hover{
    transform: translateY(-10px);
    font-weight: bolder;
    background: linear-gradient(120deg, rgba(0, 0, 255, 0.658),rgba(255, 0, 0, 0.664));
    box-shadow:0 10px 30px rgba(0, 0, 0, 0.267);
}


/* ===================== RESPONSIVE MEDIA QUERIES ===================== */
@media screen and (max-width:1024px) {
    section{
        flex-direction: column;
        text-align: center;
        padding: 13rem 2.5rem 5rem 2.5rem;
        gap: 20px;
    }
}

/* FOR TABLETS */
@media screen  and (max-width:768px){
    #heroImage{
        max-width: 400px;
    }
    nav{
        flex-direction: column;
        padding: 30px 20px;
    }
}

/* FOR MOBILE */
@media screen and (max-width:480px) {
    nav{
        align-items: center;
        padding: 20px 10px 20px 10px;
    }
    .hero-navLink ul{
        align-items: center;
        gap:0;
    }
    .hero-navLink a{
        padding: 10px;
        font-size: 0.8rem;
    }
    .hero-about h1{
        font-size: 2rem;
    }
    .hero-about h1 span{
        font-size: 3rem;
    }
    #heroImage{
        max-width: 300px;
    }
    .work-button{
        padding: 20px;
    }
}