*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Nav-Bar Styling */
body{
    height: 100vh;
    width: 100%;
    background:linear-gradient(to top left, rgba(0, 4, 24, 0.788),rgba(0, 4, 24, 0.788));
}
header{
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 25px 30px 25px;
    box-shadow: -10px 0 10px;
}
.hero-navLink ul{
    display: flex;
    gap: 40px;
}
.hero-navLink li{
    font-size: 1.1rem;
    color: #fff;
    list-style: none;
    transition: ease-in 0.5s;
}
.hero-navLink a{
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 1.1rem;
    text-decoration: none;
    transition: ease-in 0.3s;
    box-shadow: 0 0 5px;
}
.hero-navLink a:hover{
    transform: scale(1.19);
}
.hero-navLink li:hover{
    transform: scale(1.19);
}
.hero-name{
    color: #fff;
    font-size: 1.3rem;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
}
.hero-name span{
    /* background: linear-gradient(
        to top left, rgba(0, 19, 128, 0.788),rgba(58, 157, 196, 0.767)
    ); */
    background: #ffffff49;
    backdrop-filter: blur(50px);
    padding: 5px;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px;
}
/* SECTION STYLING */
section{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}
.contactMe{
    color: #fff;
    position: relative;
}
.contactMe h1::before{
    content: "";
    width: 100px;
    height: 4.3px;
    top: 45px;
    left: 50px;
    border-radius: 10px;
    background: linear-gradient(to top left, rgba(255, 255, 255, 0.959), rgba(1, 18, 49, 0.815));
    position: absolute;

}